*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.continer{
    max-width: 1220px;
    margin: 0 auto;

}


body{
    background-color: #262A2C;
}



header .continer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 0px;
}
header h2{
    color: white;   

}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    padding-left:630px;
}

a{
    text-decoration: none;
    color: white;  
    transition: 0.5s; 
}

.btn-header{
    padding: 15px 35px;
    border-radius: 50px;
    background-color: #262A2C;
    color: white;
    border-color: white;
    
}

header a:hover{
    color: #FF9143;
}

.hero h1{
    color: white;
    font-size: 72px;
    text-align: center;
    padding: 93px 0px;
    
}

.btn-1{
    padding: 25px 40px;
    border-radius: 35px;
    background-color: #FF9143;
    color: white;
    border: none;
    margin-left: 500px;
    box-shadow: 0px 22px 40px 0px #FF683830;

}

.hero-1 h1{
    color: white;
    font-size: 56px;
    padding-bottom: 25px;
}


.hero-1 p{
    color: white;
    font-size: 18px;
}
.hero-1 {
    margin-top: 290px;
    display: flex;
    align-items: center;
    
}

.btn-2{
    padding: 20px 50px;
    border-radius: 50px;
    background-color: #FF9143;
    border: none;
    color: white;
    margin-top: 78px;
    box-shadow: 0px 22px 40px 0px #FF683830;

}
.img img{
    width: 430px;
    height: 420px;
    border-radius: 30px;
    margin-left: 60px;
    border: 1px solid #FF9142;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.btn-3{
    padding: 25px 45px;
    border-radius: 35px;
    border: 1px solid #FF9142;
    background-color: inherit;
    color: white;
    font-size: 13px;
    margin-left: 500px;
    margin-top: 78px;
    box-shadow: 0px 22px 40px 0px #FF683830;

}

.hero-2 h1{
    color: white;
    font-size: 64px;
    text-align: center;

    padding-top: 290px;
}

.card img{
    width: 400px;
    height: 420px;
    border-radius: 10px;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-ota{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    color: white;
    text-align: center;
    padding-top: 32px;
}

.hero-4{
    color: white;
    margin-top: 170px;
    display: flex   ;
    padding-bottom:120px ;

}


.hero-4 h1{
    font-size: 60px;
}
.hero-4 p{
    font-size: 18px;
}
footer{
    background-color: #131313;
    color: whitesmoke;
}
footer .continer p{
    color: #FF9142;
    font-size: 24px;
    text-align: center;
    padding: 24px 0;
}
footer h1{
    border-bottom: 2px solid rgb(249, 230, 230);
    margin-bottom: 193px;
    text-align: center;
    font-size: 50px;
}
footer .continer{
    padding-top: 100px;
    padding-bottom: 100px;
}

.icon{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 700px;
    
    

}
.icon button{
    margin-top: -70px;
    font-size: 70px;
    background-color: inherit;
    border: none;
    color: white;
    padding-left: 70px;
    
}
.text-footer{
    display: flex;
    align-items: center;
    gap: 50px;
}
.ota{
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    color: #FF9142;
    text-shadow: white 1px 1px 2px;
}

.shedow{
    text-shadow: rgb(255, 255, 255) 1px 1px 2px;
    color: rgb(221, 218, 218);
}

.about-1 p{
    font-size: 18px;
    color: #949494;
    padding-top: 18px;
    padding-bottom: 90px; 
    border-bottom: 1px solid;
    

}

.about-1 h1{
    font-size: 72px;
    color: white;
    padding-top: 138px;
    
    

}

.about-2 h1{
    font-size: 80px;
    padding-top: 90px;
    color: white;
}
.about-2{
    display: flex;
    gap: 190px;
    align-items: center;

}
.about-2 p{
    color: #949494;
    font-size: 23px;
    padding-top: 130px;
}

.about-3 .rasm1{
    width: 361px;
    height: 415px;
    border-radius: 16px;
    border: 2px solid #43403e;
   box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.about-3 .rasm2{
    width: 450px;
    height: 415px;
    border-radius: 16px;
    border: 2px solid #43403e;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.about-3{
    gap: 20px;
    display: flex;
    padding-top: 100px;
}
.insta{
    display: flex;
    color: #949494;
    font-size: 32px;
    gap: 90px;
    padding-top: 24px;
    padding-bottom: 228px;
}

.about-4 .oq{
    color: white;
    font-size: 48px;
    padding-top: 140px;
}


.works-1 h1{
    color: white;
    font-size: 72px;
    padding-top: 108px;

}
.works-1 p{
    font-size: 18px;
    color: #949494;
    padding-top: 10px;
    border-bottom: 1px solid #949494;
    padding-bottom: 91px;
}
.box img{
    width: 361px;
    height: 347px;
    border-radius: 16px;
    

}
.box h2{
    color: white;
    text-align: center;
    padding-top: 10px; 
}


.box-ota{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    flex-wrap: wrap;
}

.loyha img{
    width: 555px;
    height: 347px;
    border-radius: 16px;

}
.loyha{
    display: flex;
    align-items: center;
    gap: 100px;
    padding-top: 60px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    
}

.btn-5{
    padding: 22px 35px;
    color: #FF9142;
    border-radius: 32px;
    background-color: inherit;
    border: 1px solid #FF9142;
    margin: 0 500px;
    margin-top: 85px;
    margin-bottom: 176px;
     box-shadow: 0px 22px 40px 0px #FF683830;
}

h2 a:hover{
    color: #FF9142;
    border-bottom: 2px solid #FF9142;
    font-size: 19px;


}
.icon :hover{
    font-size: 80px;
   
}







